* {
  margin: 0px;
  padding: 0px
}

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

@import url('https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css');


.bg-blue {
  background: #0079c0;
}



body {
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  overflow-x: hidden;
}

@media (min-width: 1300px) {

  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 1200px;
  }
}

.cursor {
  cursor: pointer;
}

.text-lights {
  color: #949494 !important;
  font-weight: 400;
}

.text-sml {
  font-size: 14px;
}

::-webkit-scrollbar {
  width: 8px !important;
  height: 8px !important;
}

::-webkit-scrollbar-thumb {
  background: #ccc !important;
}

::-webkit-scrollbar-track {
  background: transparent !important;
}

.headerWrapper {
  position: relative;
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
  z-index: 10;
  /* Đảm bảo border nằm trên submenu */
}

.headerWrapper .top-strip {
  padding: 8px 0px;
}

.headerWrapper .top-strip p {
  color: #fff;
  font-size: 12px;
  font-weight: 500;
}

.headerWrapper .header {
  width: 100%;
  height: auto;
  padding: 25px 0px;
}

.logoWrapper img {
  width: 100%;
}

.headerWrapper .header .part2 .countryDrop {
  width: 170px;
  height: 60px;
  min-width: 170px;
  color: #000 !important;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 7px !important;
  padding: 10px 10px;
}

.headerWrapper .header .part2 .countryDrop {
  text-align: left;
  justify-content: flex-start !important;
}

.headerWrapper .header .part2 .countryDrop .label {
  font-size: 12px !important;
  text-transform: capitalize !important;
  color: rgba(0, 0, 0, 0.5) !important;
  line-height: 16px;
}

.headerWrapper .header .part2 .countryDrop .name {
  font-size: 14px !important;
  text-transform: capitalize !important;
  color: #233a95 !important;
  font-weight: 700;
}

.headerWrapper .header .part2 .countryDrop span.ml-auto svg {
  opacity: 0.7;
  margin-left: 40px;
}

.headerSearch {
  width: 60%;
  height: 60px;
  background: #f3f4f7;
  padding: 10px;
  border-radius: 10px;
  position: relative;
}

.headerSearch input {
  background: transparent !important;
  outline: none !important;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 30px;
  border: 0px !important;
  padding: 0px 20px !important;
  margin-top: 5px;
}

.headerSearch input::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.headerSearch button {
  position: absolute;
  top: 10px;
  right: 15px;
  z-index: 100;
  min-width: 40px !important;
  height: 40px !important;
  width: 40px !important;
  border-radius: 50% !important;
  color: #000 !important;
}

.headerSearch button svg {
  font-size: 20px;
  opacity: 0.8;
}

header .part3 .circle {
  align-items: center;
  justify-content: center;
  min-width: 45px !important;
  height: 45px !important;
  width: 45px !important;
  border-radius: 50% !important;
  border: 1px solid rgba(0, 0, 0, 0.1) !important;
  color: #000;
}

header .part3 .circle svg {
  font-size: 20px;
}

.cartTab button {
  background: #fff1ee !important;
}

.cartTab button svg {
  color: #ea2b0f !important;
}

.cartTab .count {
  position: absolute;
  top: -6px;
  right: -4px;
  background: #ea2b0f;
  border-radius: 50%;
  color: #fff;
  width: 20px;
  height: 20px;
}

.locationModal .MuiPaper-elevation {
  padding: 25px;
  position: relative;
}

.locationModal .countryList {
  margin-bottom: 0px;
  max-height: 400px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.locationModal .countryList li {
  width: 100%;
  list-style: none;
}

.locationModal .countryList li button {
  width: 100%;
  text-transform: capitalize !important;
  color: #000 !important;
  justify-content: flex-start !important;
  padding: 15px 20px !important;
}

.locationModal .countryList li button:hover {
  background: #f0faff;
}

.locationModal .countryList li button.active {
  background: #e2e2e2;
}

.locationModal .closeBtn {
  position: absolute;
  min-width: 40px !important;
  height: 40px !important;
  width: 40px !important;
  top: 10px;
  right: 10px;
  color: #000;
  border-radius: 50%;
}

.locationModal .closeBtn svg {
  font-size: 20px;
}

nav .navPart1 {
  max-width: 20%;
  flex: 0 0 20%;
}

nav .navPart2 {
  max-width: 80%;
  flex: 0 0 80%;
}

nav .navPart1 .catWrapper {
  position: relative;
}

nav .navPart1 .catWrapper .sidebarNav {
  width: 100%;
  height: 0px;
  background: #fff;
  position: absolute;
  top: 138%;
  left: 0;
  border: rgba(0, 0, 0, 0.1) 1px solid;
  padding: 15px 0px;
  opacity: 0;
  transition: all 0.2s ease-in-out;
  visibility: hidden;
  z-index: 100;
}

nav .navPart1 .catWrapper .sidebarNav.open {
  height: auto;
  opacity: 1;
  visibility: inherit;
}

nav .navPart1 .catWrapper .sidebarNav ul {
  padding: 0px;
}

nav .navPart1 .catWrapper .sidebarNav ul li {
  width: 100%;
  list-style: none;
  padding: 0px 10px;
}

nav .navPart1 .catWrapper .sidebarNav ul li button {
  width: 100%;
  color: #000;
  justify-content: flex-start !important;
  text-transform: capitalize !important;
}

nav .navPart1 .catWrapper .sidebarNav ul li button svg {
  font-size: 12px !important;
  opacity: 0.6;
}

nav .navPart1 .catWrapper .sidebarNav ul li button:hover {
  background: transparent !important;
}

nav .navPart1 .catWrapper .sidebarNav ul li {
  position: static;
}

nav .navPart1 .catWrapper .sidebarNav ul li .submenu {
  position: absolute;
  top: 0px;
  left: 105%;
  width: 250px;
  height: 100%;
  background: #fff;
  z-index: 100;
  visibility: hidden;
  opacity: 0;
  transition: all 0.2s ease-in-out;
  border-left: rgba(0, 0, 0, 0.1) 1px solid;
  padding: 15px;

}


nav .navPart1 .catWrapper .sidebarNav ul li:hover .submenu {
  visibility: inherit;
  opacity: 1;
  left: 100%;
}

nav .navPart1 .catWrapper .sidebarNav ul li:hover .submenu button {
  border-radius: 0px !important;

}

nav .allCatTab {
  background: #2bbef9;
  padding: 10px 15px !important;
  border-radius: 30px !important;
}

nav .allCatTab * {
  color: #fff
}

nav .allCatTab:hover {
  background: #2bbef9;
}

nav .allCatTab .text {
  font-weight: 600;
}

nav .allCatTab .icon1 svg {
  font-size: 20px !important;
}

nav .allCatTab .icon2 svg {
  font-size: 20px !important;
}

nav .navPart2 ul {
  display: flex;
  flex-wrap: nowrap;
  margin-bottom: 0px;
  position: relative;
  z-index: 10;
  /* Đảm bảo menu chính nằm trên border */
}

nav .navPart2 ul li a {
  text-decoration: none;
}

nav .navPart2 ul li a button {
  font-size: 15px !important;
  font-weight: 600;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.6);
  text-transform: uppercase;
  display: flex;
  align-items: center;
  padding: 10px 15px;
  transition: all 0.2s ease-in-out;
  border-radius: 25px;
  padding: 15px 15px;

}

nav .navPart2 ul li a svg {
  font-size: 20px;
}

nav .navPart2 ul li a:hover {
  color: #2bbef9;
  background: #f0faff;
}

nav .navPart2 ul li {
  padding-bottom: 5px;
}

nav .navPart2 ul li {
  position: relative;
}

nav .navPart2 ul li .submenu {
  min-width: 200px;
  position: absolute;
  top: 150%;
  left: 0;
  background: #fff;
  visibility: hidden;
  opacity: 0;
  transition: all 0.2s ease-in-out;
  z-index: 100;

}

nav .navPart2 ul li .submenu a {
  display: block;
  width: 100%;

}

nav .navPart2 ul li .submenu a button {
  width: 100%;
  justify-content: flex-start !important;
  border-radius: 0px !important;
  text-transform: capitalize !important;
  font-weight: 600;
}

nav .navPart2 ul li .submenu a button:hover {
  background: #f1f1f1;
}

nav .navPart2 ul li:hover .submenu {
  visibility: inherit;
  opacity: 1;
  top: 100%;
}

.homeBannerSection {
  position: relative;
  overflow: hidden;
  height: auto;
  width: 100%;

}

.homeBannerSection * {
  outline: none !important;
}

.homeBannerSection .slick-arrow {
  position: absolute;
  top: 45%;
  z-index: 100;
  display: flex;
  height: 40px;
  width: 40px;
  background: #fff;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-weight: bold;
  box-shadow: 0 1px 3px rgb(0 0 0 / 12%), 0 1px 2px rgb(0 0 0 / 24%) !important;
  font-family: FontAwesome !important;
}

.homeBannerSection .slick-arrow.slick-next {

  right: 25px !important;
}

.homeBannerSection .slick-arrow.slick-prev {
  left: 25px !important;
}

.slick-next::before,
.slick-prev::before {
  font-family: FontAwesome !important;
  opacity: 0.75;
  color: black;
}

.slick-next::before {
  content: "\f105" !important;
}

.slick-prev::before {
  content: "\f104" !important;
}

.homeBannerSection {
  cursor: pointer;
}

.homeProducts {
  padding: 25px 0px;
  width: 100%;
}

.homeProducts .banner {
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
}

.hd {
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
}

.viewAllBtn {
  padding: 5px 25px !important;
  background: #fff;
  border: rgba(0, 0, 0, 0.1) 1px solid !important;
  border-radius: 30px !important;
  color: #4b4b4b !important;
  text-transform: capitalize !important;
  font-weight: 600;
}

.viewAllBtn svg {
  font-size: 20px;
}

.productItem {
  width: 100%;
  height: auto;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  position: relative;
}

.productItem .actions {
  position: absolute;
  top: 10px;
  right: -100%;
  z-index: 100;
  display: flex;
  flex-direction: column;
  gap: 10px;
  transition: all 0.5s ease-in-out;
}


.productItem .actions button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px !important;
  height: 40px !important;
  border-radius: 50% !important;
  background: #fff !important;
  border: rgba(0, 0, 0, 0.1) 1px solid !important;
  min-width: 40px !important;
  background: #fff !important;
  box-shadow: 0 1px 3px rgb(0 0 0 / 12%), 0 1px 2px rgb(0 0 0 / 24%) !important;
  transition: all 0.0s ease-in-out !important;

}

.productItem .actions button svg {
  color: #000 !important;
  opacity: 0.7;
  pointer-events: none;
  font-size: 16px;
}

.productItem .actions button:hover {
  background: #233a95 !important;
}

.productItem .actions button:hover svg {
  color: #fff !important;
}

.productItem .imgWrapper {
  overflow: hidden;
}

.productItem .imgWrapper img {
  transition: all 0.3s ease-in-out;
}

.productItem .imgWrapper:hover .actions {
  opacity: 1;
  right: 10px;
}

.productItem .imgWrapper:hover img {
  transform: scale(1.1);
}

.productItem .badge {
  position: absolute;
  top: 10px;
  left: 10px;
  background: #ea2b0f;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  display: inline-block;
}

.productItem .info {
  padding: 15px;
}

.productItem .info h4 {
  font-size: 15px;
  font-weight: 600;
  color: #000;
}

.productItem .info .oldPrice {
  font-weight: bold;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.2);
  text-decoration: line-through;
}

.productItem .info .netPrice {
  font-weight: bold;
  font-size: 16px;
}

.product_row .productItem {
  border-right: 1px solid transparent !important;
}

.product_row .swiper-slide:last-child .productItem {
  border-right: 1px solid rgba(0, 0, 0, 0.1) !important;
}

.swiper {
  padding-right: 1px !important;
}

.badge-primary {
  background: #2bbef9 !important;
}

.swiper-button-prev,
.swiper-button-next {
  color: #000 !important;
  background: #fff !important;
  height: 40px !important;
  width: 40px !important;
  border-radius: 50% !important;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  font-size: 20px !important;
}

.swiper-button-prev {
  left: 0px !important;
}

.swiper-button-next {
  right: 0px !important;
}


.homeCat {
  padding: 35px 0px;
}

.homeCat .swiper {
  overflow: inherit !important;
}

.homeCat .swiper .item {
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  width: 100%;
  height: auto;
}

.homeCat .swiper .item img {
  width: 80%;
}

.homeCat .swiper-button-prev,
.homeCat .swiper-button-next {
  top: -30px !important;
  width: 30px !important;
  height: 30px !important;
}

.homeCat .swiper-button-prev {
  right: 68px !important;
  left: inherit !important;
}

.homeCat .swiper-button-prev::after,
.homeCat .swiper-button-next::after {
  font-size: 12px !important;
}

.productRow2 {
  flex-wrap: wrap;
  gap: 10px;
}

.productRow2 .productItem {
  width: 20%;
  overflow: hidden;

  border-right: 1px solid rgba(0, 0, 0, 0.1) !important;
}

.bannerSec {
  gap: 15px
}

.sticky {
  position: sticky;
  top: 10px;
  z-index: 100;
}

.newsLetterSection {
  width: 100%;
  height: auto;
  background: #233a95;
  position: relative;
  overflow: hidden;
  padding: 50px 0px;
}

.newsLetterSection p {
  font-size: 18px;
  margin: 10px 0px !important;
}

.newsLetterSection h3 {
  font-size: 35px;
  font-weight: bold;

}

.newsLetterSection p.text-lights {
  color: #fff;
  opacity: 0.5;
  font-size: 15px;
}

.newsLetterSection img {
  position: absolute;
  bottom: 0px;
  right: 0px;
}

.newsLetterSection form {
  width: 100%;
  height: 60px;
  background: #fff;
  padding: 10px;
  position: relative;
  border-radius: 10px;
}

.newsLetterSection form svg {
  position: absolute;
  top: 17px;
  left: 10px;
  font-size: 25px;
  opacity: 0.3;
}

.newsLetterSection form input {
  width: 100%;
  height: 100%;
  background: #fff !important;
  outline: none !important;
  border: 0px !important;
  padding-left: 40px;
  padding-right: 200px;
}

.newsLetterSection form button {
  position: absolute;
  top: 7px;
  right: 7px;
  background: #233a95 !important;
  font-size: 14px !important;
  padding: 13px 25px !important;
  border-radius: 10px;
  color: #fff !important;
  border: 0px !important;
  text-transform: capitalize !important;
  font-weight: 600 !important;
}

footer {
  width: 100%;
  height: 500px;
  margin: auto;
  background: #fff;
  padding: 35px 0px;
}