* {
  margin: 0px;
  padding: 0px
}

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

.bg-blue {
  background: #0079c0;
}



body {
  font-family: 'Lato', sans-serif;
  font-size: 14px;
}

.headerWrapper .top-strip {
  padding: 8px 0px;
}

.headerWrapper .top-strip p {
  color: #fff;
  font-size: 12px;
  font-weight: 500;
}

.headerWrapper .header {
  width: 100%;
  height: auto;
  padding: 15px 0px;
}

.logoWrapper img {
  width: 100%;
}

.headerWrapper .header .part2 .countryDrop {
  width: 170px;
  height: 60px;
  min-width: 170px;
  color: #000 !important;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 7px !important;
  padding: 10px 10px;
}

.headerWrapper .header .part2 .countryDrop {
  text-align: left;
  justify-content: flex-start !important;
}

.headerWrapper .header .part2 .countryDrop .label {
  font-size: 12px !important;
  text-transform: capitalize !important;
  color: rgba(0, 0, 0, 0.5) !important;
  line-height: 16px;
}

.headerWrapper .header .part2 .countryDrop .name {
  font-size: 14px !important;
  text-transform: capitalize !important;
  color: #233a95 !important;
  font-weight: 700;
}

.headerWrapper .header .part2 .countryDrop span.ml-auto svg {
  opacity: 0.7;
  margin-left: 40px;
}

header .headerSearch {
  width: 60%;
  height: 60px;
  background: #f3f4f7;
  padding: 10px;
  margin: 20px;
  border-radius: 10px;
  position: relative;
}

header .headerSearch input {
  background: transparent !important;
  outline: none !important;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 30px;
  border: 0px !important;
  padding: 0px 20px !important;
  margin-top: 5px;
}

header .headerSearch input::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.6);
}

header .headerSearch button {
  position: absolute;
  top: 10px;
  right: 15px;
  z-index: 100;
  min-width: 40px !important;
  height: 40px !important;
  width: 40px !important;
  border-radius: 50% !important;
  color: #000 !important;
}

header .headerSearch button svg {
  font-size: 20px;
}

header .part3 .circle {
  align-items: center;
  justify-content: center;
  min-width: 45px !important;
  height: 45px !important;
  width: 45px !important;
  border-radius: 50% !important;
  border: 1px solid rgba(0, 0, 0, 0.1) !important;
  color: #000;
}

header .part3 .circle svg {
  font-size: 20px;
}

.cartTab button {
  background: #fff1ee !important;
}

.cartTab button svg {
  color: #ea2b0f !important;
}

.cartTab .count {
  position: absolute;
  top: -6px;
  right: -4px;
  background: #ea2b0f;
  border-radius: 50%;
  color: #fff;
  width: 20px;
  height: 20px;
}